*{
    text-align: center;
    background-color: aqua;
}


h1 {
    color: crimson;
    animation: mon-animation 3s ease-in-out infinite alternate;
}


@keyframes mon-animation {
    from{
        transform: translate(0);
        background-color: red;
    }
    to{
        transform: scale(6);
        background-color: green;
    }
}